Repository LambdaFalcon/stream-come-true: changes, and which GitLab CI jobs are due for each by the changed paths.
All: server_install, client_build, server_lint, server_test, client_test

server_install:
  stage: build
  script:
  - npm ci --prefix server

client_build:
  stage: build
  script:
  - npm ci --prefix client
  - npm run build --prefix client
  artifacts:
    paths:
    - client/build/

server_lint:
  stage: lint
  script:
  - npm run lint --prefix server

server_test:
  stage: test
  script:
  - npm ci --prefix server
  - npm test --prefix server
  dependencies:
  - client_build

client_test:
  stage: test
  script:
  - npm ci --prefix client
  - npm test --prefix client

Change implementation of ElasticClient.computeInterval
  server/elasticClient/ElasticClient.js
Due: server_install, server_lint, server_test

Change .gitignore to include only things we use
  server/.gitignore
Due: server_install, server_lint, server_test

Corrects items and users overTime tests
  server/test/elasticClient/itemsOverTime.test.js
  server/test/elasticClient/usersOverTime.test.js
  server/test/root.test.js
Due: server_install, server_lint, server_test

Rename or move tests
  server/test/apiv1/index.test.js
  server/test/apiv1/source/index.test.js
Due: server_install, server_lint, server_test

Add apiv1/source/itemsOverTime tests
  server/test/apiv1/source/itemsOverTime.test.js
Due: server_install, server_lint, server_test

Add nyc for coverage
  server/package-lock.json
  server/package.json
Due: server_install, server_lint, server_test

Run coverage tests in GitLab CI
  .gitlab-ci.yml
Due: none

Skip homepage test because it does not work (no client build folder)
  server/test/root.test.js
Due: server_install, server_lint, server_test

Add pipeline status and coverage status on main README
  README.md
Due: none

it is now possible to make a selection on the line chart however it only prints the dates for now
  client/src/components/LineChart.js
Due: client_build, client_test

removed unused variable
  client/src/components/LineChart.js
Due: client_build, client_test

Class for the datetime picker
  client/package-lock.json
  client/package.json
  client/src/components/DateTimePicker.js
  client/src/components/Menu.js
  client/src/components/Search.js
  client/src/css/bootstrap.css
Due: client_build, client_test

Removed the button from the search bar.It is not needed
  client/src/components/Search.js
Due: client_build, client_test

Placed the search component in the navigation menu
  client/src/App.jsx
  client/src/components/Menu.js
Due: client_build, client_test

propagateing changetimeinterval event from LineChart all the way to App
  client/src/App.jsx
  client/src/components/ChartsLocations.js
  client/src/components/LineChart.js
Due: client_build, client_test

moved comment to the right place
  client/src/components/LineChart.js
Due: client_build, client_test

it is now possible to change the time interval by draging on the linechart
  client/src/App.jsx
  client/src/components/BarChart.js
  client/src/components/ChartsLocations.js
  client/src/components/LineChart.js
Due: client_build, client_test

Made bar chart interactive
  client/src/App.jsx
  client/src/components/BarChart.js
  client/src/components/ChartsLocations.js
Due: client_build, client_test

moved onTexFilterChange to correct graph
  client/src/components/ChartsLocations.js
Due: client_build, client_test

removed unused vars
  client/src/components/BarChart.js
Due: client_build, client_test

Change coverage button to be honest about what is considered
  README.md
Due: none

time interval is now being displayed (no selection possible)
  client/src/App.css
  client/src/App.jsx
  client/src/components/DateTimePicker.js
  client/src/components/DateTimePicker/DateTimePicker.css
  client/src/components/DateTimePicker/DateTimePicker.js
  client/src/components/DateTimePicker/index.js
  client/src/components/LineChart/LineChart.jsx
  client/src/components/LineChart/index.js
  client/src/components/Main/Main.jsx
  client/src/components/Main/index.js
  client/src/components/Menu.js
  client/src/components/Search.js
  client/src/css/styles.css
Due: client_build, client_test

Showed user images and date
  client/src/App.jsx
  client/src/components/ChartsLocations.js
  client/src/components/ListOfUsers.js
  client/src/config.js
Due: client_build, client_test

removed react-datepicker dependency
  client/package-lock.json
  client/package.json
Due: client_build, client_test

removed dependency react-datetime
  client/package-lock.json
  client/package.json
Due: client_build, client_test

Create util function to get n minutes ago from now
  server/test/utils.js
Due: server_install, server_lint, server_test

Use new function in tests
  server/test/apiv1/source/itemsOverTime.test.js
  server/test/elasticClient/itemsOverTime.test.js
  server/test/elasticClient/usersOverTime.test.js
Due: server_install, server_lint, server_test

Final User Respresentation
  client/src/components/ChartsLocations.js
  client/src/components/ListOfUsers.js
Due: client_build, client_test

Made changes
  client/src/components/ChartsLocations.js
Due: client_build, client_test

build failure fixed
  client/src/App.jsx
Due: client_build, client_test

Rename variable to make it more understandable
  server/test/utils.js
Due: server_install, server_lint, server_test

Remove commented out code
  client/src/components/DateTimePicker/DateTimePicker.js
  client/src/components/Menu.js
Due: client_build, client_test

Change client config to use VM URL when built for production
  client/src/config.js
Due: client_build, client_test

Create Dockerfile based on node-alpine
  .dockerignore
  Dockerfile
Due: none

Add docker build and deploy stages
  .gitlab-ci.yml
Due: none

Add sampler aggregation function
  server/elasticClient/queries/sampler.js
Due: server_install, server_lint, server_test

Use sampler aggregation before significant text for popular keywords
  server/config.js
  server/elasticClient/ElasticClient.js
Due: server_install, server_lint, server_test

Set staging to happen also on this branch to test it
  .gitlab-ci.yml
Due: none

Add docker:dind service for docker jobs
  .gitlab-ci.yml
Due: none

Change docker login syntax
  .gitlab-ci.yml
Due: none

Path conditions:
  server_install: any of: server/**/*
  client_build: any of: client/**/*
  server_lint: any of: server/**/*
  server_test: any of: server/**/*
  client_test: any of: client/**/*
