Repository LambdaFalcon/stream-come-true: changes, and which GitLab CI jobs are due for each by the changed paths.
All: server install, client build, server lint, server test, client test, deploy as staging, deploy as latest

server install:
  image: $NODE
  stage: build
  script:
  - npm ci --prefix server
  artifacts:
    paths:
    - server/node_modules/

client build:
  image: $NODE
  stage: build
  script:
  - npm ci --prefix client
  - npm run build --prefix client
  artifacts:
    paths:
    - client/build/
    - client/node_modules/

server lint:
  image: $NODE
  stage: lint
  script:
  - npm run lint --prefix server
  dependencies:
  - server install

server test:
  image: $NODE
  stage: test
  script:
  - npm ci --prefix server
  - npm run cov --prefix server
  coverage: /All files\s*\|\s*([0-9.]+)/
  dependencies:
  - server install
  - client build

client test:
  image: $NODE
  stage: test
  script:
  - npm test --prefix client
  dependencies:
  - client build

deploy as staging:
  stage: deploy
  tags:
  - dind
  script:
  - docker info
  - docker build -t $IMAGE_TAG_STAGING .
  - docker image ls
  - echo "$REGISTRY_PASSWORD" | docker login --username $REGISTRY_USER --password-stdin
  - docker tag $IMAGE_TAG_STAGING $REGISTRY_USER/$IMAGE_TAG_STAGING
  ...

deploy as latest:
  stage: deploy
  tags:
  - dind
  script:
  - docker info
  - docker build -t $IMAGE_TAG_LATEST .
  - docker image ls
  - echo "$REGISTRY_PASSWORD" | docker login --username $REGISTRY_USER --password-stdin
  - docker tag $IMAGE_TAG_LATEST $REGISTRY_USER/$IMAGE_TAG_LATEST
  ...

Delete twitter_template.json
  ingestion/twitter/twitter_template.json
Due: none

Delete reddit_comments_template.json
  ingestion/reddit/reddit_comments_template.json
Due: none

Pass docker port argument to client build npm script
  .gitlab-ci.yml
  Dockerfile
  client/src/config.js
Due: client build, client test, deploy as staging, deploy as latest

Skip broken hashtag graph tests because of expired elastic license
  server/test/apiv1/source/hashtagGraph.test.js
  server/test/elasticClient/hashtagGraph.test.js
  server/test/elasticClient/spiderFromHashtag.test.js
Due: server install, server lint, server test, deploy as staging, deploy as latest

Update README for publication
  .DS_Store
  README.md
Due: none

Path conditions:
  server install: any of: server/**/*
  client build: any of: client/**/*
  server lint: any of: server/**/*
  server test: any of: server/**/*
  client test: any of: client/**/*
  deploy as staging: any of: client/**/*, server/**/*
  deploy as latest: any of: client/**/*, server/**/*
