Repository LambdaFalcon/stream-come-true: changes, and which GitLab CI jobs are due for each by the changed paths.
All: server_install, client_build, server_lint, server_test, client_test

server_install:
  stage: build
  script:
  - npm ci --prefix server

client_build:
  stage: build
  script:
  - npm ci --prefix client
  - npm run build --prefix client
  artifacts:
    paths:
    - client/build/

server_lint:
  stage: lint
  script:
  - npm run lint --prefix server

server_test:
  stage: test
  script:
  - npm ci --prefix server
  - npm test --prefix server
  dependencies:
  - client_build

client_test:
  stage: test
  script:
  - npm ci --prefix client
  - npm test --prefix client

Add stream router stub
  server/routes/stream.js
Due: server_install, server_lint, server_test

Add API version 1 and register it with app
  server/api/index.js
  server/app.js
  server/package.json
Due: server_install, server_lint, server_test

Add tests for `/api/v1` and `/api/v1/:source` routes
  server/package.json
  server/test/apiv1/source.test.js
  server/test/apiv1/test.js
Due: server_install, server_lint, server_test

Run npm install in server folder before lint job so that eslint exists
  .gitlab-ci.yml
Due: none

reverted deletion of the wrong config (reddit_ingestion.conf) file and deleted the correct one (reddit_news.conf).
  ingestion/reddit/reddit_ingestion.conf
  ingestion/reddit/reddit_news.conf
Due: none

added documentation on how to run reddit_stream.py locally
  ingestion/reddit/readme.md
Due: none

cleand up the code a bit and added note about use of reddit_stream on vm
  ingestion/reddit/readme.md
  ingestion/reddit/reddit_stream.py
Due: none

added mapping for reddit comments and deleted old reddit ingestion configuration
  ingestion/reddit/reddit_comments_template.json
  ingestion/reddit/reddit_ingestion.conf
Due: none

using a logger for reddit_stream.py instead of regular prints
  ingestion/reddit/reddit_stream.py
Due: none

fixed typo in readme
  ingestion/reddit/readme.md
Due: none

added domain field to reddit comments do comply with the common elastic schema
  ingestion/reddit/reddit_comments_template.json
  ingestion/reddit/reddit_stream.py
Due: none

Changed created_at to show Twitter date
  ingestion/twitter/twitter_ingestion.conf
  ingestion/twitter/twitter_template.json
Due: none

Resolve "Add UI skeleton"
  client/src/App.css
  client/src/App.jsx
  client/src/components/BarChart.js
  client/src/components/ChartsLocations.js
  client/src/components/LineChart.js
  client/src/components/Menu.js
  client/src/components/Search.js
  client/src/css/bootstrap-table.css
  client/src/css/bootstrap-theme.css
  client/src/css/bootstrap-theme.css.map
  client/src/css/bootstrap-theme.min.css
  client/src/css/bootstrap-theme.min.css.map
  client/src/css/bootstrap.css
  client/src/css/bootstrap.css.map
  client/src/css/bootstrap.min.css
  client/src/css/bootstrap.min.css.map
  client/src/css/datepicker.css
  client/src/css/datepicker3.css
  client/src/css/font-awesome.min.css
  client/src/css/styles.css
Due: client_build, client_test

Added the Search Bar Component Interface
  client/src/components/ChartsLocations.js
  client/src/components/Search.js
Due: client_build, client_test

Added api link of for the aggregations in config.js
  client/src/config.js
Due: client_build, client_test

Created the sample chart that willl be used for reddits data over time and twitter data over time with some data
  client/src/components/ChartsLocations.js
  client/src/components/LineChart.js
Due: client_build, client_test

Added the calling api and line chart rerendering functionality
  client/src/components/LineChart.js
Due: client_build, client_test

Create the sample chart for most keywords
  client/src/components/BarChart.js
  client/src/components/ChartsLocations.js
Due: client_build, client_test

Create dthe most key words barchart with render functionality with some random data
  client/src/components/BarChart.js
  client/src/components/ChartsLocations.js
Due: client_build, client_test

Create jsdoc typedefs for generic items and all aggregations elements
  server/elasticClient/types.js
Due: server_install, server_lint, server_test

Pass config to ElasticClient as constructor parameter
  server/elasticClient/ElasticClient.js
  server/middleware/connectSource.js
Due: server_install, server_lint, server_test

Remove search method from ElasticClient
  server/elasticClient/ElasticClient.js
Due: server_install, server_lint, server_test

Add ElasticClient public methods and Filters typedef
  server/elasticClient/ElasticClient.js
  server/elasticClient/types.js
Due: server_install, server_lint, server_test

Change structure of the data
  client/src/components/LineChart.js
Due: client_build, client_test

Changed Structure aof data
  client/src/components/BarChart.js
Due: client_build, client_test

Set req.source to be parametric and use static method to get client
  server/config.js
  server/elasticClient/ElasticClient.js
  server/middleware/connectSource.js
  server/routes/stream.js
Due: server_install, server_lint, server_test

Add private method to create ElasticSearch query for global filters
  server/config.js
  server/elasticClient/ElasticClient.js
  server/elasticClient/filters.js
Due: server_install, server_lint, server_test

Skip root test for now because of an issue in the CI config
  server/test/root.test.js
Due: server_install, server_lint, server_test

Add tests for ElasticClient.all method and correct api/v1/source tests
  server/test/apiv1/source.test.js
  server/test/elasticClient/all.test.js
Due: server_install, server_lint, server_test

Add function that extracts fields from an object
  server/elasticClient/selectFields.js
Due: server_install, server_lint, server_test

Implement ElasticClient.all()
  server/elasticClient/ElasticClient.js
Due: server_install, server_lint, server_test

Correct order of filters in ElasticSearch query and use correctly in all
  server/elasticClient/ElasticClient.js
  server/elasticClient/filters.js
Due: server_install, server_lint, server_test

Add debug log when applying filters for query
  server/elasticClient/filters.js
Due: server_install, server_lint, server_test

installed rechart dependencies
  client/package-lock.json
  client/package.json
Due: client_build, client_test

Set size to 10000 in ElasticClient.all()
  server/elasticClient/ElasticClient.js
Due: server_install, server_lint, server_test

Install chai-things as devDependency for nicer array test method chains
  server/package-lock.json
  server/package.json
Due: server_install, server_lint, server_test

Finish tests for ElasticClient.all() and add timeout for safety
  server/routes/stream.js
  server/test/apiv1/source.test.js
  server/test/elasticClient/all.test.js
Due: server_install, server_lint, server_test

Update ChartsLocations.js
  client/src/components/ChartsLocations.js
Due: client_build, client_test

Add test for types of results in ElasticClient.all() test
  server/test/elasticClient/all.test.js
Due: server_install, server_lint, server_test

Path conditions:
  server_install: any of: server/**/*
  client_build: any of: client/**/*
  server_lint: any of: server/**/*
  server_test: any of: server/**/*
  client_test: any of: client/**/*
