Repository LambdaFalcon/stream-come-true: changes, and which GitLab CI jobs are due for each by the changed paths.
All: server_install, client_build, server_lint, server_test, client_test

server_install:
  stage: build
  script:
  - npm ci --prefix server

client_build:
  stage: build
  script:
  - npm ci --prefix client
  - npm run build --prefix client
  artifacts:
    paths:
    - client/build/

server_lint:
  stage: lint
  script:
  - npm run lint --prefix server

server_test:
  stage: test
  script:
  - npm ci --prefix server
  - npm test --prefix server
  dependencies:
  - client_build

client_test:
  stage: test
  script:
  - npm ci --prefix client
  - npm test --prefix client

Resolve "Fix mappings for Twitter and Reddit"
  ingestion/reddit/reddit_ingestion.conf
  ingestion/twitter/twitter_ingestion.conf
Due: none

Add documentation to source router
  server/routes/source/index.js
Due: server_install, server_lint, server_test

Move check for valid source to separate middleware
  server/middleware/checkSourceAvailable.js
  server/middleware/connectSource.js
  server/routes/stream.js
Due: server_install, server_lint, server_test

Add documentation to source subrouters
  server/routes/source/all.js
  server/routes/source/index.js
  server/routes/source/itemsOverTime.js
  server/routes/source/popularKeywords.js
Due: server_install, server_lint, server_test

Add documentation to error handling middleware
  server/utils/asyncErrorCatch.js
  server/utils/catch404.js
  server/utils/errorHandler.js
Due: server_install, server_lint, server_test

Add documentation to other middleware
  server/middleware/addFilters.js
  server/middleware/checkSourceAvailable.js
  server/middleware/connectSource.js
Due: server_install, server_lint, server_test

Add documentation to ElasticClient queries and selectFields
  server/elasticClient/ElasticClient.js
  server/elasticClient/queries/significantText.js
  server/elasticClient/queries/timeBucketing.js
  server/elasticClient/selectFields.js
Due: server_install, server_lint, server_test

Correct tests for new domains and convert to iterations
  server/test/apiv1/source.test.js
  server/test/elasticClient/all.test.js
  server/test/elasticClient/itemsOverTime.test.js
  server/test/elasticClient/popularKeywords.test.js
Due: server_install, server_lint, server_test

Moved coordinates array to top level field
  ingestion/twitter/twitter_ingestion.conf
Due: none

added more documentation
  ingestion/sentiment_analysis/sentiment_classifier_generation/README.md
  ingestion/sentiment_analysis/sentiment_classifier_generation/generate_sentiment_classifier.py
  ingestion/sentiment_analysis/server/README.md
Due: none

added possibility to change port and host with environment flags SENTIMENT_HOST and SENTIMENT_PORT (default localhsot:5050)
  ingestion/sentiment_analysis/server/sentiment_server.py
Due: none

added first version for generating a sentiment classifier based on Sentiment140 dataset
  ingestion/sentiment_analysis/sentiment_classifier_generation/.gitignore
  ingestion/sentiment_analysis/sentiment_classifier_generation/README.md
  ingestion/sentiment_analysis/sentiment_classifier_generation/generate_sentiment_classifier.py
Due: none

added sentiment_server.py that uses classifier from generate_sentiment_classifier.py to serve sentiment a sentiment analysis route
  ingestion/sentiment_analysis/sentiment_classifier_generation/generate_sentiment_classifier.py
  ingestion/sentiment_analysis/server/sentiment_server.py
Due: none

added sentimetn to reddit pipeline
  ingestion/reddit/reddit_ingestion.conf
Due: none

added dockerfile since i wasn't able to install tensorflow on the vm
  ingestion/sentiment_analysis/server/Dockerfile
  ingestion/sentiment_analysis/server/README.md
  ingestion/sentiment_analysis/server/requirements.txt
  ingestion/sentiment_analysis/server/sentiment_server.py
Due: none

added sentiment to twitter ingestion
  ingestion/reddit/reddit_ingestion.conf
  ingestion/twitter/twitter_ingestion.conf
Due: none

Add distinctCount aggregation function
  server/elasticClient/queries/distinctCount.js
Due: server_install, server_lint, server_test

Add static method ElasticClient.nestAgg that nests one agg inside an agg
  server/elasticClient/ElasticClient.js
  server/test/elasticClient/nestAgg.test.js
Due: server_install, server_lint, server_test

Add selectFields for usersOverTime
  server/elasticClient/selectFields.js
Due: server_install, server_lint, server_test

Add ElasticClient.usersOverTime method with tests
  server/elasticClient/ElasticClient.js
  server/test/elasticClient/usersOverTime.test.js
Due: server_install, server_lint, server_test

Add termsCount aggregation function
  server/elasticClient/queries/termsCount.js
Due: server_install, server_lint, server_test

Add selectFields for popularUsers
  server/elasticClient/selectFields.js
Due: server_install, server_lint, server_test

Add ElasticClient.popularUsers method with tests
  server/elasticClient/ElasticClient.js
  server/test/elasticClient/popularUsers.test.js
Due: server_install, server_lint, server_test

Add routers to server API to access users over time and popular users
  server/routes/source/index.js
  server/routes/source/popularUsers.js
  server/routes/source/usersOverTime.js
Due: server_install, server_lint, server_test

FDid small changes in the router
  client/src/components/ChartsLocations.js
  client/src/config.js
Due: client_build, client_test

added missing space
  ingestion/reddit/reddit_ingestion.conf
Due: none

Add fromdatetime and todatetime to Filters typedef
  server/elasticClient/types.js
Due: server_install, server_lint, server_test

Add small fixes for merge request
  client/src/components/ChartsLocations.js
  client/src/components/LineChart.js
Due: client_build, client_test

Add default hour range to config
  server/config.js
Due: server_install, server_lint, server_test

Pass config to addFilters
  server/middleware/addFilters.js
  server/routes/source/index.js
Due: server_install, server_lint, server_test

Add utility Date string functions to addFilters
  server/middleware/addFilters.js
Due: server_install, server_lint, server_test

Add new filter fields to addFilters, apply defaults and reject invalid
  server/middleware/addFilters.js
  server/package.json
Due: server_install, server_lint, server_test

Update ElasticClient.applyFilters to consider two datetime bounds
  server/elasticClient/filters.js
Due: server_install, server_lint, server_test

Correct tests to work with new datetime filters
  server/test/elasticClient/all.test.js
  server/test/elasticClient/itemsOverTime.test.js
  server/test/elasticClient/popularKeywords.test.js
  server/test/elasticClient/popularUsers.test.js
  server/test/elasticClient/usersOverTime.test.js
Due: server_install, server_lint, server_test

Make addFilters actually check validity of date filters
  server/middleware/addFilters.js
Due: server_install, server_lint, server_test

Add varsIgnorePattern for no-unused-vars eslint rule
  server/.eslintrc
Due: server_install, server_lint, server_test

Delete unused function ElasticClient.toString
  server/elasticClient/ElasticClient.js
Due: server_install, server_lint, server_test

Move minusHours to utils/datetime.js file
  server/middleware/addFilters.js
  server/utils/datetime.js
Due: server_install, server_lint, server_test

Change implementation of computeInterval to work on a range of seconds
  server/elasticClient/computeInterval.js
Due: server_install, server_lint, server_test

Make number of splits generated by computeInterval configurable
  server/config.js
  server/elasticClient/computeInterval.js
Due: server_install, server_lint, server_test

Path conditions:
  server_install: any of: server/**/*
  client_build: any of: client/**/*
  server_lint: any of: server/**/*
  server_test: any of: server/**/*
  client_test: any of: client/**/*
