Repository LambdaFalcon/stream-come-true: changes, and which GitLab CI jobs are due for each by the changed paths.
All: server install, client build, server lint, server test, client test, deploy as staging, deploy as latest

.gitlab-ci.yml:

###############################################################################
# SETTINGS

# latest LTS that works well with create-react-app
image: docker:stable

services:
  - docker:dind

variables:
  NODE: node:10.15.3
  IMAGE_TAG_STAGING: stream-come-true:staging
  IMAGE_TAG_LATEST: stream-come-true:latest

stages:
  - build
  - lint
  - test
  - deploy

###############################################################################
# BUILD STAGE

server install:
  image: $NODE
  stage: build
  script:
    - npm ci --prefix server
  artifacts:
    paths:
      - server/node_modules/
  only:
    changes:
      - server/**/*

client build:
  image: $NODE
  stage: build
  script:
    - npm ci --prefix client
    - npm run build --prefix client
  artifacts:
    paths:
      - client/build/
      - client/node_modules/
  only:
    changes:
      - client/**/*

###############################################################################
# LINT STAGE

server lint:
  image: $NODE
  stage: lint
  script:
    - npm run lint --prefix server
  dependencies:
    - server install
  only:
    changes:
      - server/**/*

###############################################################################
# TEST STAGE

server test:
  image: $NODE
  stage: test
  script:
    - npm ci --prefix server
    - npm run cov --prefix server
  coverage: '/All files\s*\|\s*([0-9.]+)/'
  dependencies:
    - server install
    - client build
  only:
    changes:
      - server/**/*

client test:
  image: $NODE
  stage: test
  script:
    - npm test --prefix client
  dependencies:
    - client build
  only:
    changes:
      - client/**/*

###############################################################################
# DEPLOY STAGE

deploy as staging:
  stage: deploy
  tags:
    - dind
  script:
    - docker info
    - docker build -t $IMAGE_TAG_STAGING .
    - docker image ls
    - echo "$REGISTRY_PASSWORD" | docker login --username $REGISTRY_USER --password-stdin
    - docker tag $IMAGE_TAG_STAGING $REGISTRY_USER/$IMAGE_TAG_STAGING
    - docker push $REGISTRY_USER/$IMAGE_TAG_STAGING
  only:
    refs:
      - dev
    changes:
      - client/**/*
      - server/**/*

deploy as latest:
  stage: deploy
  tags:
    - dind
  script:
    - docker info
    - docker build -t $IMAGE_TAG_LATEST .
    - docker image ls
    - echo "$REGISTRY_PASSWORD" | docker login --username $REGISTRY_USER --password-stdin
    - docker tag $IMAGE_TAG_LATEST $REGISTRY_USER/$IMAGE_TAG_LATEST
    - docker push $REGISTRY_USER/$IMAGE_TAG_LATEST
  only:
    refs:
      - master
    changes:
      - client/**/*
      - server/**/*

Removed unnecessary spidering from state
  client/src/App.jsx
Due: client build, client test, deploy as staging, deploy as latest

Replaced var with const
  client/src/components/HashtagGraph.js
Due: client build, client test, deploy as staging, deploy as latest

Moved spidering to HashtagGraph only and added it to state
  client/src/App.jsx
  client/src/components/HashtagGraph.js
Due: client build, client test, deploy as staging, deploy as latest

Fix typo in typedef of Graph
  server/elasticClient/types.js
Due: server install, server lint, server test, deploy as staging, deploy as latest

Add merging of existing graph with spidering graph
  client/src/components/HashtagGraph.js
Due: client build, client test, deploy as staging, deploy as latest

Add edge width on hashtags graph
  client/src/components/HashtagGraph.js
Due: client build, client test, deploy as staging, deploy as latest

Use default time range of 5 hours when applying filters
  server/elasticClient/ElasticClient.js
Due: server install, server lint, server test, deploy as staging, deploy as latest

Add tests that buckets never exceed 101
  server/test/apiv1/source/itemsOverTime.test.js
  server/test/elasticClient/itemsOverTime.test.js
Due: server install, server lint, server test, deploy as staging, deploy as latest

Added the git ignore file
  .gitignore
Due: none

Update Changes
  .gitignore
Due: none

Ignore example files and remove them from repository
  client/.gitignore
  client/cypress/fixtures/example.json
  client/cypress/integration/examples/actions.spec.js
  client/cypress/integration/examples/aliasing.spec.js
  client/cypress/integration/examples/assertions.spec.js
  client/cypress/integration/examples/connectors.spec.js
  client/cypress/integration/examples/cookies.spec.js
  client/cypress/integration/examples/cypress_api.spec.js
  client/cypress/integration/examples/files.spec.js
  client/cypress/integration/examples/local_storage.spec.js
  client/cypress/integration/examples/location.spec.js
  client/cypress/integration/examples/misc.spec.js
  client/cypress/integration/examples/navigation.spec.js
  client/cypress/integration/examples/network_requests.spec.js
  client/cypress/integration/examples/querying.spec.js
  client/cypress/integration/examples/spies_stubs_clocks.spec.js
  client/cypress/integration/examples/traversal.spec.js
  client/cypress/integration/examples/utilities.spec.js
  client/cypress/integration/examples/viewport.spec.js
  client/cypress/integration/examples/waiting.spec.js
  client/cypress/integration/examples/window.spec.js
Due: client build, client test, deploy as staging, deploy as latest

added smileys and colors depending on sentiment on the 15 most recent tweets
  client/package-lock.json
  client/package.json
  client/src/App.jsx
  client/src/components/ListOfUsers.js
Due: client build, client test, deploy as staging, deploy as latest

Change text filter from search bar only when pressing enter or on blur
  client/src/components/Search.js
Due: client build, client test, deploy as staging, deploy as latest

Remove <form> wrapping the search field
  client/src/components/Search.js
Due: client build, client test, deploy as staging, deploy as latest

Run prettier on code
  client/src/components/Search.js
Due: client build, client test, deploy as staging, deploy as latest

Fixed panel positions and scrolling
  client/src/components/ListOfUsers.js
Due: client build, client test, deploy as staging, deploy as latest

Added icons to headers and panels
  client/package-lock.json
  client/package.json
  client/src/components/BarChart.js
  client/src/components/ChartsLocations.js
  client/src/components/LineChart.js
  client/src/components/ListOfUsers.js
Due: client build, client test, deploy as staging, deploy as latest

Pass textfilter value from App to Search
  client/src/App.jsx
  client/src/components/Menu.js
Due: client build, client test, deploy as staging, deploy as latest

Change state onChange, apply textfilter when props change
  client/src/components/Search.js
Due: client build, client test, deploy as staging, deploy as latest

Changed page title
  client/public/index.html
Due: client build, client test, deploy as staging, deploy as latest

Added icon to hashtag network graph
  client/src/components/ChartsLocations.js
  client/src/components/HashtagGraph.js
Due: client build, client test, deploy as staging, deploy as latest

Extract highlight from hits only if it exists
  server/elasticClient/ElasticClient.js
Due: server install, server lint, server test, deploy as staging, deploy as latest

Add tests for query_string textfilters
  server/test/elasticClient/all.test.js
Due: server install, server lint, server test, deploy as staging, deploy as latest

Increased hashtag network graph height
  client/src/components/HashtagGraph.js
Due: client build, client test, deploy as staging, deploy as latest

fixed issue where if the fetched data was empty line chart couldn't handle it
  client/src/components/LineChart.js
Due: client build, client test, deploy as staging, deploy as latest

tooltip now shows range and positive/negative are bars
  client/src/components/LineChart.js
Due: client build, client test, deploy as staging, deploy as latest

it is now again possible to select a timerange on the line charts
  client/src/components/LineChart.js
Due: client build, client test, deploy as staging, deploy as latest

series for line chart is now configurable through props
  client/src/components/ChartsLocations.js
Due: client build, client test, deploy as staging, deploy as latest

was missing 'new' when throwing an error
  client/src/components/LineChart.js
Due: client build, client test, deploy as staging, deploy as latest

legend is now only shown if more than one value is being displayed in a graph
  client/package-lock.json
  client/src/components/LineChart.js
Due: client build, client test, deploy as staging, deploy as latest

replaced linechart from rechart with echarts
  client/src/components/LineChart.js
Due: client build, client test, deploy as staging, deploy as latest

changed color of labels to gray
  client/src/components/LineChart.js
Due: client build, client test, deploy as staging, deploy as latest

changed color palette
  client/src/components/ChartsLocations.js
Due: client build, client test, deploy as staging, deploy as latest

added 'time' to label y axis
  client/src/components/LineChart.js
Due: client build, client test, deploy as staging, deploy as latest

Run prettier and ESLint on all client code
  client/src/App.jsx
  client/src/components/BarChart.js
  client/src/components/ChartsLocations.js
  client/src/components/DateTime.js
  client/src/components/LineChart.js
  client/src/components/ListOfUsers.js
  client/src/components/Menu.js
Due: client build, client test, deploy as staging, deploy as latest

Catch fetch errors and log response
  client/src/components/BarChart.js
  client/src/components/HashtagGraph.js
  client/src/components/LineChart.js
  client/src/components/ListOfUsers.js
Due: client build, client test, deploy as staging, deploy as latest

Remove empty .then calls
  client/src/components/BarChart.js
  client/src/components/HashtagGraph.js
  client/src/components/ListOfUsers.js
Due: client build, client test, deploy as staging, deploy as latest

Remove console.log in Search
  client/src/components/Search.js
Due: client build, client test, deploy as staging, deploy as latest

Change reason for why standard react tests are broken
  client/src/App.test.js
Due: client build, client test, deploy as staging, deploy as latest

fixed
  ingestion/sentiment_analysis/sentiment_classifier_generation/generate_sentiment_classifier.py
Due: none
