Repository LambdaFalcon/stream-come-true: changes, and which GitLab CI jobs are due for each by the changed paths.
All: server_install, client_build, server_lint, server_test, client_test

.gitlab-ci.yml:

###############################################################################
# SETTINGS

# latest LTS that works well with create-react-app
image: node:10.15.3

stages:
  - build
  - lint
  - test
  - staging
  - deploy

cache:
  paths:
    - server/node_modules/
    - client/node_modules/

###############################################################################
# BUILD STAGE

server_install:
  stage: build
  script:
    - npm ci --prefix server
  only:
    changes:
      - server/**/*

client_build:
  stage: build
  script:
    - npm ci --prefix client
    - npm run build --prefix client
  artifacts:
    paths:
     - client/build/
  only:
    changes:
      - client/**/*

###############################################################################
# LINT STAGE

server_lint:
  stage: lint
  script:
    - npm run lint --prefix server
  only:
    changes:
      - server/**/*

###############################################################################
# TEST STAGE

server_test:
  stage: test
  script:
    - npm ci --prefix server
    - npm test --prefix server
  dependencies:
    - client_build
  only:
    changes:
      - server/**/*

client_test:
  stage: test
  script:
    - npm ci --prefix client
    - npm test --prefix client
  only:
    changes:
      - client/**/*

###############################################################################
# STAGING STAGE

staging_job:
  stage: staging
  script: "echo 'No staging job yet.'"
  only:
    refs:
      - dev
      - master

###############################################################################
# DEPLOY STAGE

deploy_job:
  stage: deploy
  script: "echo 'No deploy job yet.'"
  only:
    refs:
      - master

Add tests for itemsOverTime and popularKeywords
  server/test/elasticClient/itemsOverTime.test.js
  server/test/elasticClient/popularKeywords.test.js
Due: server_install, server_lint, server_test

Add private method to simplify aggregation queries
  server/elasticClient/ElasticClient.js
Due: server_install, server_lint, server_test

Add default timeframe to server config, it is '5h' aka 5 hours
  server/config.js
Due: server_install, server_lint, server_test

Add function that returns date historgram aggregation query
  server/elasticClient/queries/timeBucketing.js
Due: server_install, server_lint, server_test

Add function that computes a reasonable interval given a time frame
  server/elasticClient/computeInterval.js
Due: server_install, server_lint, server_test

Correct applyFilters to take the default time frame from the config
  server/elasticClient/ElasticClient.js
  server/elasticClient/filters.js
Due: server_install, server_lint, server_test

Add selectFields function for `itemsOverTime`
  server/elasticClient/selectFields.js
Due: server_install, server_lint, server_test

Add computeInterval method in ElasticClient class
  server/elasticClient/ElasticClient.js
Due: server_install, server_lint, server_test

Change private method ElasticClient.aggregation
  server/elasticClient/ElasticClient.js
Due: server_install, server_lint, server_test

Implement itemsOverTime
  server/elasticClient/ElasticClient.js
  server/test/apiv1/test.js
  server/test/elasticClient/popularKeywords.test.js
Due: server_install, server_lint, server_test

Change config to specify one single text field
  server/config.js
  server/elasticClient/ElasticClient.js
  server/elasticClient/filters.js
Due: server_install, server_lint, server_test

Add selectFields function for `popularKeywords `
  server/elasticClient/selectFields.js
Due: server_install, server_lint, server_test

Add function that returns a significantText aggregation query
  server/elasticClient/queries/significantText.js
Due: server_install, server_lint, server_test

Implement popularKeywords and reactivate tests
  server/elasticClient/ElasticClient.js
  server/test/elasticClient/popularKeywords.test.js
Due: server_install, server_lint, server_test

Add checks and defaults in computeInterval to avoid NaN
  server/elasticClient/ElasticClient.js
  server/elasticClient/computeInterval.js
Due: server_install, server_lint, server_test

Change eslint to allow prepending underscore to ignore parameters
  server/.eslintrc
Due: server_install, server_lint, server_test

Create middleware to add filters object from query to `req` object
  server/middleware/addFilters.js
Due: server_install, server_lint, server_test

Create index of source router
  server/routes/source/index.js
Due: server_install, server_lint, server_test

Add all, itemsOverTime and popularKeywords subroutes to source router
  server/routes/source/all.js
  server/routes/source/itemsOverTime.js
  server/routes/source/popularKeywords.js
Due: server_install, server_lint, server_test

Change stream router to use source router for `/:source`
  server/routes/stream.js
Due: server_install, server_lint, server_test

Change popularKeywords test to use 1h timeframe to avoid empty result
  server/test/elasticClient/popularKeywords.test.js
Due: server_install, server_lint, server_test

The Graph with the api data
  client/src/App.jsx
  client/src/components/BarChart.js
  client/src/components/ChartsLocations.js
  client/src/components/LineChart.js
  client/src/components/Search.js
  client/src/config.js
Due: client_build, client_test

Fix typo in config, pass down prop into Charts, use componentDidUpdate
  client/src/components/BarChart.js
  client/src/components/ChartsLocations.js
  client/src/components/LineChart.js
  client/src/config.js
Due: client_build, client_test

removed unnecessary console.logs
  client/src/components/BarChart.js
  client/src/components/LineChart.js
Due: client_build, client_test

added now also tracking user_image in reddit ingestion
  ingestion/reddit/reddit_comments_template.json
  ingestion/reddit/reddit_stream.py
Due: none

Added user_image field
  ingestion/twitter/twitter_ingestion.conf
Due: none

Added line to use the mapping template
  ingestion/twitter/twitter_ingestion.conf
  ingestion/twitter/twitter_template.json
Due: none

Fixed reddit mappings
  ingestion/reddit/reddit_comments_template.json
  ingestion/reddit/reddit_ingestion.conf
Due: none

Add step after ElasticClient.all to replace text with highlighted text
  server/elasticClient/ElasticClient.js
Due: server_install, server_lint, server_test

Include highlighting in ElasticClient.all and `/:source` router test
  server/test/apiv1/source.test.js
  server/test/elasticClient/all.test.js
Due: server_install, server_lint, server_test

Add tests for new `all` route that returns 15 items
  server/test/apiv1/source.test.js
  server/test/elasticClient/all.test.js
Due: server_install, server_lint, server_test

Change ElasticClient.all to sort, highlight and limit to 15 items
  server/elasticClient/ElasticClient.js
Due: server_install, server_lint, server_test

Add user_image field in view of Elastic mapping change
  server/elasticClient/selectFields.js
  server/elasticClient/types.js
Due: server_install, server_lint, server_test

Activate tests about user_image field in responses
  server/test/apiv1/source.test.js
  server/test/elasticClient/all.test.js
Due: server_install, server_lint, server_test

Add JSDoc for private method extractHighlightIfTextFilter
  server/elasticClient/ElasticClient.js
Due: server_install, server_lint, server_test

Pass config for getInstance via method parameter call
  server/elasticClient/ElasticClient.js
  server/routes/source/all.js
  server/routes/source/index.js
  server/routes/source/itemsOverTime.js
  server/routes/source/popularKeywords.js
Due: server_install, server_lint, server_test

Add comments to API and main stream router
  server/api/index.js
  server/routes/stream.js
Due: server_install, server_lint, server_test

Get full_text from extended tweet
  ingestion/twitter/twitter_ingestion.conf
Due: none

Passed x and y as props from ChartLocations
  client/src/components/BarChart.js
  client/src/components/ChartsLocations.js
  client/src/components/LineChart.js
Due: client_build, client_test

Fixed routers for data visualization and added some style annotations for the charts
  client/src/components/BarChart.js
  client/src/components/LineChart.js
  client/src/config.js
Due: client_build, client_test
