Repository LambdaFalcon/stream-come-true: changes, and which GitLab CI jobs are due for each by the changed paths.
All: server install, client build, server lint, server test, client test, docker build staging, docker build release, docker deploy staging, docker deploy release

server install:
  stage: build
  script:
  - npm ci --prefix server
  artifacts:
    paths:
    - server/node_modules/

client build:
  stage: build
  script:
  - npm ci --prefix client
  - npm run build --prefix client
  artifacts:
    paths:
    - client/build/
    - client/node_modules/

server lint:
  stage: lint
  script:
  - npm run lint --prefix server
  dependencies:
  - server install

server test:
  stage: test
  script:
  - npm ci --prefix server
  - npm run cov --prefix server
  coverage: /All files\s*\|\s*([0-9.]+)/
  dependencies:
  - server install
  - client build

client test:
  stage: test
  script:
  - npm test --prefix client
  dependencies:
  - client build

docker build staging:
  image: docker:stable
  services:
  - docker:dind
  stage: docker build
  script:
  - docker info
  - docker build -t stream-come-true:staging .

docker build release:
  image: docker:stable
  services:
  - docker:dind
  stage: docker build
  script:
  - docker info
  - docker build -t stream-come-true:latest .

docker deploy staging:
  image: docker:stable
  services:
  - docker:dind
  stage: deploy
  script:
  - docker info
  - docker image ls
  - echo "$REGISTRY_PASSWORD" | docker login --username $REGISTRY_USER --password-stdin
  - docker push $REGISTRY_USER/stream-come-true:staging
  - docker

docker deploy release:
  image: docker:stable
  services:
  - docker:dind
  stage: deploy
  script:
  - docker info
  - docker image ls
  - echo "$REGISTRY_PASSWORD" | docker login --username $REGISTRY_USER --password-stdin
  - docker push $REGISTRY_USER/stream-come-true:latest

Set docker as global image and node as local images for jobs
  .gitlab-ci.yml
Due: none

List images after build
  .gitlab-ci.yml
Due: none

Use two single docker jobs that build and push directly
  .gitlab-ci.yml
Due: none

Go back to using --password-stdin instead of --password for docker login
  .gitlab-ci.yml
Due: none

Fixed handleClick bug
  client/src/components/BarChart.js
  client/src/components/ChartsLocations.js
Due: client build, client test, docker build staging, docker build release, docker deploy staging, docker deploy release

Fixed typos
  client/package-lock.json
  client/src/components/LineChart.js
Due: client build, client test, docker build staging, docker build release, docker deploy staging, docker deploy release

Use http for VM address in production
  client/src/config.js
Due: client build, client test, docker build staging, docker build release, docker deploy staging, docker deploy release

Fix typo `rhea` -> `rhea1`
  client/src/config.js
Due: client build, client test, docker build staging, docker build release, docker deploy staging, docker deploy release

Check if callback exists
  client/src/components/BarChart.js
  client/src/components/ChartsLocations.js
Due: client build, client test, docker build staging, docker build release, docker deploy staging, docker deploy release

fixed missing key bug and changed css in ListOfUsers
  client/src/components/ListOfUsers.js
Due: client build, client test, docker build staging, docker build release, docker deploy staging, docker deploy release

Added labels for the charts x and y axis
  client/src/components/BarChart.js
  client/src/components/ChartsLocations.js
  client/src/components/LineChart.js
Due: client build, client test, docker build staging, docker build release, docker deploy staging, docker deploy release

Removed The Legend It Was not Necessary
  client/src/components/BarChart.js
  client/src/components/LineChart.js
Due: client build, client test, docker build staging, docker build release, docker deploy staging, docker deploy release

Added some customization on the recharts
  client/src/components/BarChart.js
  client/src/components/LineChart.js
Due: client build, client test, docker build staging, docker build release, docker deploy staging, docker deploy release

The label issues fixed
  client/src/components/BarChart.js
  client/src/components/LineChart.js
Due: client build, client test, docker build staging, docker build release, docker deploy staging, docker deploy release

Rename termsCount function to reflect name of file
  server/elasticClient/ElasticClient.js
  server/elasticClient/queries/range.js
  server/elasticClient/queries/termsCount.js
  server/elasticClient/selectFields.js
  server/elasticClient/types.js
  server/test/apiv1/source/index.test.js
  server/test/apiv1/source/itemsOverTime.test.js
  server/test/elasticClient/all.test.js
  server/test/elasticClient/itemsOverTime.test.js
Due: server install, server lint, server test, docker build staging, docker build release, docker deploy staging, docker deploy release

Add keyword to the searchbar when bar is selected fixed
  client/src/App.jsx
  client/src/components/Menu.js
  client/src/components/Search.js
Due: client build, client test, docker build staging, docker build release, docker deploy staging, docker deploy release

Placed comments in Search.js
  .DS_Store
  client/src/components/Search.js
Due: client build, client test, docker build staging, docker build release, docker deploy staging, docker deploy release

Undid changes to Bootstrap CSS
  client/src/css/bootstrap.css
  client/src/css/styles.css
Due: client build, client test, docker build staging, docker build release, docker deploy staging, docker deploy release

Fixed search bar position and style
  client/src/App.jsx
  client/src/components/Menu.js
  client/src/components/Search.js
Due: client build, client test, docker build staging, docker build release, docker deploy staging, docker deploy release

Removed commented code
  client/src/components/Menu.js
Due: client build, client test, docker build staging, docker build release, docker deploy staging, docker deploy release

Rename `queries` folder to `aggs`
  server/elasticClient/ElasticClient.js
  server/elasticClient/aggs/distinctCount.js
  server/elasticClient/aggs/range.js
  server/elasticClient/aggs/sampler.js
  server/elasticClient/aggs/significantText.js
  server/elasticClient/aggs/termsCount.js
  server/elasticClient/aggs/timeBucketing.js
  server/elasticClient/explore/graph.js
  server/elasticClient/selectFields.js
  server/elasticClient/types.js
  server/routes/source/hashtagGraph.js
  server/routes/source/index.js
  server/test/elasticClient/hashtagGraph.test.js
  server/test/elasticClient/nestAgg.test.js
Due: server install, server lint, server test, docker build staging, docker build release, docker deploy staging, docker deploy release

Made changes on the issue
  client/src/components/BarChart.js
  client/src/components/ChartsLocations.js
  client/src/components/LineChart.js
Due: client build, client test, docker build staging, docker build release, docker deploy staging, docker deploy release

Resolve "Implement Graph for Tweets"
  client/package-lock.json
  client/package.json
  client/src/components/ChartsLocations.js
  client/src/components/HashtagGraph.js
  client/src/config.js
Due: client build, client test, docker build staging, docker build release, docker deploy staging, docker deploy release

Placed comment and made changes accordingly to the review
  client/src/App.jsx
  client/src/components/Menu.js
  client/src/components/Search.js
Due: client build, client test, docker build staging, docker build release, docker deploy staging, docker deploy release

Bootstrap Dependencies
  client/package-lock.json
  client/package.json
Due: client build, client test, docker build staging, docker build release, docker deploy staging, docker deploy release

Use css from dependencies
  client/src/App.jsx
  client/src/css/bootstrap-table.css
  client/src/css/bootstrap-theme.css
  client/src/css/bootstrap-theme.css.map
  client/src/css/bootstrap-theme.min.css
  client/src/css/bootstrap-theme.min.css.map
  client/src/css/bootstrap.css
  client/src/css/bootstrap.css.map
  client/src/css/bootstrap.min.css
  client/src/css/bootstrap.min.css.map
  client/src/css/datepicker.css
  client/src/css/datepicker3.css
  client/src/css/font-awesome.min.css
Due: client build, client test, docker build staging, docker build release, docker deploy staging, docker deploy release

Search bar back to nav
  client/src/App.jsx
  client/src/components/Menu.js
Due: client build, client test, docker build staging, docker build release, docker deploy staging, docker deploy release

removed dots on line chart (as they are only shown after the animations finish it looks pretty weird otherwise)
  client/package-lock.json
  client/package.json
  client/src/App.jsx
  client/src/components/BarChart.js
  client/src/components/ChartsLocations.js
  client/src/components/HashtagGraph.js
  client/src/components/LineChart.js
  client/src/components/ListOfUsers.js
  client/src/components/Menu.js
  server/package-lock.json
Due: server install, client build, server lint, server test, client test, docker build staging, docker build release, docker deploy staging, docker deploy release

Update .gitlab-ci.yml by adding dind tag to deploy jobs
  .gitlab-ci.yml
Due: none

we are now using stemming and stopwordremoval before sentiment analysis
  ingestion/sentiment_analysis/sentiment_classifier_generation/generate_sentiment_classifier.py
  ingestion/sentiment_analysis/server/Dockerfile
  ingestion/sentiment_analysis/server/requirements.txt
  ingestion/sentiment_analysis/server/sentiment_server.py
Due: none

fixed some comments
  ingestion/sentiment_analysis/server/sentiment_server.py
Due: none

removeing stopwords before stemming now
  ingestion/sentiment_analysis/sentiment_classifier_generation/generate_sentiment_classifier.py
  ingestion/sentiment_analysis/server/sentiment_server.py
Due: none

Resolve "DateTimePicker"
  client/package-lock.json
  client/package.json
  client/src/App.jsx
  client/src/components/DateTime.js
  client/src/components/DateTimePicker/DateTimePicker.css
  client/src/components/DateTimePicker/DateTimePicker.js
  client/src/components/DateTimePicker/index.js
  client/src/components/Menu.js
  client/src/components/Search.js
  client/src/css/DateTimePicker.css
Due: client build, client test, docker build staging, docker build release, docker deploy staging, docker deploy release

Update change
  client/src/components/Search.js
Due: client build, client test, docker build staging, docker build release, docker deploy staging, docker deploy release

Update package-lock.json
  client/package-lock.json
Due: client build, client test, docker build staging, docker build release, docker deploy staging, docker deploy release

Pass refreshing flag from App to ChartsLocation
  client/src/App.jsx
Due: client build, client test, docker build staging, docker build release, docker deploy staging, docker deploy release

Pass refreshing flag and sentiment flag to LineChart
  client/src/components/ChartsLocations.js
Due: client build, client test, docker build staging, docker build release, docker deploy staging, docker deploy release

Show sentiment lines if sentiment is true and refreshing is false
  client/src/components/LineChart.js
Due: client build, client test, docker build staging, docker build release, docker deploy staging, docker deploy release

Update Changes
  client/src/components/ChartsLocations.js
Due: client build, client test, docker build staging, docker build release, docker deploy staging, docker deploy release

Resolve "Center nav elements properly"
  client/src/App.jsx
  client/src/components/Menu.js
  client/src/components/Search.js
Due: client build, client test, docker build staging, docker build release, docker deploy staging, docker deploy release

Path conditions:
  server install: any of: server/**/*
  client build: any of: client/**/*
  server lint: any of: server/**/*
  server test: any of: server/**/*
  client test: any of: client/**/*
  docker build staging: any of: client/**/*, server/**/*
  docker build release: any of: client/**/*, server/**/*
  docker deploy staging: any of: client/**/*, server/**/*
  docker deploy release: any of: client/**/*, server/**/*
